extends layout

block content
  .row.banner
    .col-12
      
   .card.card-primary
            .card-block
            <p style="color: black; font-size: 40px;"><strong>Welcome to Grabites!</strong></p>
            <p style="color: white; font-size: 20px;">At Grabites, we believe that dining is more than just a meal – it's an experience. From the moment you walk through our doors, you'll be greeted with warm hospitality and a cozy atmosphere designed to make you feel at home. Whether you're here for a quick bite or a special occasion, our diverse menu is crafted to satisfy every palate, featuring fresh, locally-sourced ingredients and seasonal dishes.</p>
            <p style="color: black; font-size: 40px;"> <strong>Why visit us?</strong></p>
            <p style="color: white; font-size: 20px;">It's simple:<br>  Deliciously Authentic Cuisine: Our chefs pour their passion into every dish, delivering flavors that transport you to a world of culinary delight.<br>  Exceptional Service: We pride ourselves on going above and beyond to make every guest feel like part of our family.<br>  Ambiance that Inspires: Enjoy a relaxed, welcoming space thats perfect for everything from casual dinners to celebrations with friends and loved ones.<br>  Unforgettable Experiences: From signature cocktails to mouth-watering desserts, every visit is an opportunity to indulge in something special.</p>
            