extends layout

block content
  .row.banner
    .col-12
      h1 <p style="font-size: 200px;">Grabites.</p>
                                                      
  
  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location")<p style="font-size: 40px; font-weight: bold; line-height: 1.5;">Bites</p>
            p.address Grab a bite to drive away hunger!<br>Checkout our food menu here!
          p.address 500 Rs. for 2 people 
          p.facilities
            span.badge.badge-warning Tasty
            span.badge.badge-warning Fresh
            span.badge.badge-warning Loved
  
    .col-12.col-md-4
     <p style="font-size: 70px; color: #FFFFFF; font-weight: bold;"> Fast, Fresh, and Full of Flavor!
</p>


